

div {
    max-width: 1600px;
    margin: 0 auto;
}

main section img {
    box-sizing: border-box;
}

main.home-grid {
    display: grid;
    gap: 50px 50px;

}

header {
    display: grid;
}

header.logo {
    grid-column-start: 0;
    grid-column-end: 2;
    justify-content: left;
}
nav {
    display: flex;
    justify-content: space-around;
}      

h1{
    color: white;
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
}

h2,li {
    color: white;
    text-align: right;
    padding-right: 100px;
}
h3{
    text-align: right;
    color: white;
}



#hero-pic {
padding-top: 50px;
justify-content: left;
}

nav a {
    text-align: center;
    color: rgb(8, 8, 8);
    text-decoration: none;
    padding: 35px;
}

#logo_link {
    padding-top: 25px;
}


p {
    grid-column: 4/10; 
    color: white;
    background-color:rgb(70, 70, 70)
}


#background {
    grid-column: 1/11;
    grid-row: 4/9;
    height: 725px;
    background-color: #2b50c7;
}



main section {
    text-align: center;
    color: rgb(255, 255, 255);
}
main {
    display: grid;
}


body {
    background-color: #4f4f52;
    font-family: "Tiro Gurmukhi', serif";
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color:#ffffff;
    font-family: "Playfair Display, serif"; 
}

footer {
    background-color: #ffffff;
    padding: 15px 10px; 
    margin-top: 200px;
    font-family: "Playfair Display, serif"; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(0, 0, 0);
}

h2,h3{
    color: black;
}

footer .social img {
    padding-top: 15px;
}  

.msg {
    background-color: #283636;  
    color: white;
    padding: 35px;
    line-height: 1.5em;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.home-title {
    font-family: "Playfair Display, serif"; 
    font-size: 2em;
    margin-top: 10px;
}       



  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: rgb(255, 255, 255);
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            
                    
            
            

