@media screen and (min-width: 500px) {
  header {
    background-color: black;
    color: white;
  }

  main {
    grid-template-columns: 1fr 1fr;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sansita", sans-serif;
}
