@media screen and (min-width: 500px) {
  header {
    background-color: rgb(0, 110, 182);
    color: white;
  }

  main {
    grid-template-columns: 1fr 1fr;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Sansita", sans-serif;
  }

  /* mobile **************************/
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }


  h1 {
    font-size: 2rem;
  }

  nav {
    flex-direction: row;
  }
  nav ul {
    list-style-type: none;
  }
  nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
  }

  nav a:hover {
    border: 1px solid #fff;
  }

  .active {
    color: yellow;
  }

  /* Larger Views ******************************/
  @media (min-width: 640px) {
    nav ul {
      display: flex;
    }
    nav ul li {
      flex: 1 1 100%;
    }
  }
  main h2{
    grid-column: 1/3;
  }
}
